---
apiVersion: v1
kind: Secret
metadata:
  name: ${name}
  namespace: ${namespace}
type: kubernetes.io/opaque
data:
  identity: ${identity_base64}
  identity.pub: ${identity_pub_base64}
  known_hosts: ${knownhosts_base64}
